/*--- Body ---*/

body{
    font-family: 'Roboto';
}


/*--- Valores generales ---*/

#head-two{
    text-align: center;
    color: #1FA6FF;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

#para-img{
    display: flex;
}

#head-three{    /* Color y tamaño de h3 */
    color: #1FA6FF;
    font-weight: bold;
    margin: 10px 0;
}

#para-img p{
    color: black;
}

#para-img img{
    width: 250px;
}

/*--- Homepage ---*/

/*-- What is Gymshark --*/

#head-three.what-is{
    padding-left: 20px;
}

#para-img.what-is{
    gap: 40px;
}

#para-img.what-is p{
    padding-left: 20px;
}

#para-img.what-is img{
    padding-left: 20px;
    padding-right: 20px;
    width: 300px;
}

/*-- Our history --*/

#head-three.our-history{
    margin-left: 290px;
}

#para-img.our-history img{
    padding-left: 20px;
}

#para-img.our-history p{
    padding-left: 20px;
    padding-right: 20px;
}

/*-- About us --*/

section.about-us{
    margin: 70px 100px;
}

#head-two.about-us{
    margin: 30px 0;
}

#para-img.about-us{ /*Sacado de Figma*/
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 66px;
    margin: 60px 30px;
}

#para-img.about-us p{
    margin: 0;
}


/*-- What can I do --*/

section.what-can-i{
    margin: 70px 100px;
}

#head-two.what-can-i{
    padding-top: 30px;
    margin: 0 0 25px 0;
}

div#ico-para{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 40px 0 40px;
    gap: 14px;
}

h3#ico-para{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #1FA6FF;
    margin: 0;
}

img#ico-para{
    width: 50px;
}

p#ico-para{
    line-height: 20px;
    margin: 10px 0;
}

.first-column-wci{
    padding-right: 20px;
}


/*-- Contact us --*/

.contact-us-container{
    display: flex;
    gap: 100px;
    margin: 20px;
}

section#first-column-cu{
    margin: 0 40px;
}

h4.contact-us{
    font-size: 12px;
    color: #1FA6FF;
    margin: 5px 0;
}

input.contact-us{
    padding: 3px;
    height: 27px;
    width: 170px;
    margin-bottom: 10px;
}

select.contact-us{
    padding: 3px;
    width: 180px;
    margin-bottom: 10px;
    border-radius: 2px;
    color: gray;
}

div#first.contact-us{
    margin: 7px 0;
}

input[type=submit].contact-us {
    width: 180px;
    background: #1FA6FF;
    color: white;
    height: 37px;
    border: white;
}

section#second-column-cu{
    gap: 20px;
}

div#second-column-cu{
    display: flex;
    gap: 20px;
    margin: 30px 0;
    margin-left: 60px;
    padding: 0 40px; 
}

textarea ::placeholder{
    color: fieldtext;
    padding: 3px;
}

/*--- Products and support ---*/

section#products-support{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 70px;
    padding: 0 50px;
    margin: 0 100px;
    border-top: solid gray 1px;
    margin-bottom: 25px;
}

ol#products-support{
    margin: 0;
    padding: 0;
}

h3#products-support{
    font-size: 20ppx;
    color: #1FA6FF;
    margin: 15px 0 10px;
}




/*--- Footer ---*/

#foot{
    background-color: #1FA6FF;
    display: flex;
    justify-content: space-between;

}

div.last-gs{
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h2.last-gs{
    margin: 0;
    font-size: 50px;
    padding: 0;
}

h5.last-gs{
    margin: 0;
    font-size: 15px;
    font-style: normal;
    padding: 0 20px;
}

.shark{
    height: 120px;
    width: auto;
}

div.social-media{
    display: flex;
    align-items: flex-end;
    padding: 15px 0;
}

img.social-media{
    height: 30px;
    width: auto;    
}