/*--- Body ---*/

body{
    margin: 0 0 0 300px;
    font-family: Arial, Helvetica, sans-serif;
}


/*--- Header ---*/

#head{
    background-color: #1FA6FF;
    margin: 0;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}


#head h1{
    margin: 0;
    color: white;
    text-decoration: none;
    padding-top: 0px;
    font-weight: bold;
    font-size: 44px;
}


#head img{
    position:absolute;
    width: 120px;
    top: 10px;
    margin-left: 230px;
}


/*--- Homepage ---*/

#head-two{
    text-align: center;
    color: #1FA6FF;
}


/*--- Valores generales ---*/

#para-img{
    display: flex;
}

#head-three{    /* Color y tamaño de h3 */
    color: #1FA6FF;
    margin: 10px 0;
}

#para-img p{
    color: black;
}

#para-img img{
    width: 250px;
}

/*-- What is Gymshark --*/

#head-three.what-is{
    padding-left: 20px;
}

#para-img.what-is p{
    padding-left: 20px;
}

#para-img.what-is img{
    padding-left: 20px;
    padding-right: 20px;
}

/*-- Our history --*/

#head-three.our-history{
    margin-left: 290px;
}

#para-img.our-history img{
    padding-left: 20px;
}

#para-img.our-history p{
    padding-left: 20px;
    padding-right: 20px;
}

/*-- About us --*/

section.about-us{
    margin: 70px 100px;
}

#head-two.about-us{
    margin: 30px 0;
}

#para-img.about-us{ /*Sacado de Figma*/
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 66px;
    margin: 60px 30px;
}

#para-img.about-us p{
    margin: 0;
}


/*-- What can I do --*/

section.what-can-i{
    margin: 70px 100px;
}

#head-two.what-can-i{
    padding-top: 30px;
    margin: 0;
}

div#ico-para{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 40px 0 40px;
    gap: 14px;
}

h3#ico-para{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #1FA6FF;
    margin: 0;
}

img#ico-para{
    width: 50px;
}

p#ico-para{
    line-height: 20px;
    margin: 10px 0;
}

.first-column-wci{
    padding-right: 20px;
}

/*
#head-two.decision-making{
    display: flex;
    align-items: center;
    text-align: center;
}


#ico-para.decision-making{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 60px;
}

*/

/*--- Sidebar ---*/

#sidebar{
    top: 0;
    left: 0;
    width: 300px;
    background-color: #232F3E;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    color: white
}


.sidebar-top input[type=search]::placeholder{
    color: white
}


.sidebar-top input[type=search]{
    width: 260px;
    padding: 15px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    height: 30px;
    border: 0px;
    background-color: #B8B8B8;

}


.sidebar-top input[type=button]{
    width: 108px;
    height: 30px;
    margin-left: 20px;
    margin-top: 15px;
    margin-right: 20px;
    border: none;
    display: inline;
    cursor: pointer;
    justify-content: space-between;
    color: white;
    background-color: #B8B8B8;
}


.sidebar-med{
    margin-top: 50px;
}


.sidebar-med h3{
    color: #1FA6FF;
    border-bottom-style: solid;
    border-color: black;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 15px 0;
}


.sidebar-med h4{
    padding-left: 10px;
    font-weight: normal;
    margin: 10px 0;
}


.sidebar-bottom h3{
    color: #1FA6FF;
    border-bottom-style: solid;
    border-color: black;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 15px 0;
}


.sidebar-bottom h5{
    padding-left: 10px;
    font-weight: normal;
    margin: 10px 0;
}